[Unit]
Description=Fake Syncthing
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
SyslogIdentifier=mainsail
RuntimeDirectory=mainsail
ExecStart=/bin/bash -c "echo 'Starting fake synchting.service'; while true; do echo 'fake synchting.service running' && sleep 30; done"
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
